<h1><a href="{{ path('app_index') }}"></a>Forum</h1>
<ul class="nav-menu">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li>
            <p>Email: {{ app.user.email }}</p>
        </li>
    {% endif %}
    <li>
        <a href="{{ path('app_login') }}">Login</a>
    </li>
    <li>
        <a href="#">Register</a>
    </li>
</ul>